In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [15]:
producer = KafkaProducer(bootstrap_servers=['3.104.74.219:9092'], #public ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [16]:
producer.send('demo_test', value={'surname':'deshpande'})

In [17]:
df = pd.read_csv("all_stocks_5yr.csv")

In [18]:
df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [19]:
df.sample(1)

             date   open   high    low  close    volume Name
24993  2017-05-12  61.58  61.81  60.92  60.99  14479145  AIG

In [26]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [23]:
producer.flush() #clear data from kafka server